@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 id="Fave_Song"class="display-4 red-text" onmouseover="newColor()" onmouseout="oldColor()">One of my favorite songs!</h1>
    <iframe width="560" height="315"
     src="https://www.youtube.com/embed/8-vZlrBYLSU" title="YouTube video player"
    Frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen>
    </iframe>
    <p><i>-God Bless The Broken Road, By Rascall Flats</i></p>
</div>
